doctype 5
html
	head
		title Video
		script(src="/socket.io/socket.io.js")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="/script.js")		
	body
		div.container
			header
				h1 A Images streaming from iPhone